.list{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: fit-content;
  height: calc(100% - 10px);
  padding-left: 0px;
  padding-right: 10px;
  margin: 0 10px 0 0;
  border-right: 1px solid var(--lightissue);
}

.list:first-child{
  padding-left: 10px;
}

.title{
  flex-basis: 5rem;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--lightissue);
  color: var(--lightissue);
}

.titleactions{
  align-self: flex-end;
}

.addbutton{
  flex-basis: 4rem;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.issues{
  width: fit-content;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}