.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: stretch;
}

.menu{
  flex: none;
  flex-basis: 200px;
  background-color: var(--darkissue);
  border-right: 1px solid var(--lightissue);
  color: white;
}

.main{
  flex-grow: 1;
  max-width: calc(100% - 250px);
}